In [54]:
import pandas as pd
from numpy.random import randint

d1 = pd.read_csv("./data1.csv")

# print(d1.info(), "\n")

d3 = d1.dropna(axis='index')
print("With dropped rows :")
print(d3.info(), "\n")

With dropped rows :
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     0 non-null      int64
 1   survived   0 non-null      int64
 2   name       0 non-null      object
 3   sex        0 non-null      object
 4   age        0 non-null      float64
 5   sibsp      0 non-null      int64
 6   parch      0 non-null      int64
 7   ticket     0 non-null      object
 8   fare       0 non-null      float64
 9   cabin      0 non-null      object
 10  embarked   0 non-null      object
 11  boat       0 non-null      object
 12  body       0 non-null      float64
 13  home.dest  0 non-null      object
dtypes: float64(3), int64(4), object(7)
memory usage: 0.0+ bytes
None

In [55]:
d2 = d1.dropna(axis='columns')
print("With dropped columns :")
print(d2.info(), "\n")

With dropped columns :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   name      1309 non-null   object
 3   sex       1309 non-null   object
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   ticket    1309 non-null   object
dtypes: int64(4), object(3)
memory usage: 71.7+ KB
None

In [56]:
d3 = d1.dropna(axis='index')
print("With dropped rows :")
print(d3.info(), "\n")

With dropped rows :
<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     0 non-null      int64
 1   survived   0 non-null      int64
 2   name       0 non-null      object
 3   sex        0 non-null      object
 4   age        0 non-null      float64
 5   sibsp      0 non-null      int64
 6   parch      0 non-null      int64
 7   ticket     0 non-null      object
 8   fare       0 non-null      float64
 9   cabin      0 non-null      object
 10  embarked   0 non-null      object
 11  boat       0 non-null      object
 12  body       0 non-null      float64
 13  home.dest  0 non-null      object
dtypes: float64(3), int64(4), object(7)
memory usage: 0.0+ bytes
None

In [57]:
n_rows = d1.shape[0]
rand_vect = randint(0 , n_rows , size=5)

# prettier
rand_vect.sort()

print(d1.loc[rand_vect])

      pclass  survived                                            name  \
42         1         1  Brown, Mrs. John Murray (Caroline Lane Lamson)
109        1         1                Flynn, Mr. John Irwin ("Irving")
456        2         0    Howard, Mrs. Benjamin (Ellen Truelove Arman)
590        2         1                           West, Miss. Barbara J
1150       3         0                        Risien, Mr. Samuel Beard

         sex      age  sibsp  parch      ticket     fare cabin embarked boat  \
42    female  59.0000      2      0       11769  51.4792  C101        S    D
109     male  36.0000      0      0    PC 17474  26.3875   E25        S    5
456   female  60.0000      1      0       24065  26.0000   NaN        S  NaN
590   female   0.9167      1      2  C.A. 34651  27.7500   NaN        S   10
1150    male      NaN      0      0      364498  14.5000   NaN        S  NaN

      body            home.dest
42     NaN          Belmont, MA
109    NaN         Brooklyn, NY
456    NaN     Swindon, England
590    NaN  Bournmouth, England
1150   NaN                  NaN

## Answers

Colonnes avec le plus de valeurs manquantes (nombre de valeurs existante/nombre total de valeurs):
* body (121/1309)
* cabin (295/1309)
* boat (486/1309)

In [58]:
class1 = d1[d1.pclass == 1]
print(class1.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON

In [59]:
male_30_50 = d1[(d1.sex == 'male') & (d1.age >= 30) & (d1.age <= 50)]

print(male_30_50.head())

    pclass  survived                                  name   sex   age  sibsp  \
3        1         0  Allison, Mr. Hudson Joshua Creighton  male  30.0      1
5        1         1                   Anderson, Mr. Harry  male  48.0      0
7        1         0                Andrews, Mr. Thomas Jr  male  39.0      0
10       1         0                Astor, Col. John Jacob  male  47.0      1
19       1         0                  Beattie, Mr. Thomson  male  36.0      0

    parch    ticket      fare    cabin embarked boat   body  \
3       2    113781  151.5500  C22 C26        S  NaN  135.0
5       0     19952   26.5500      E12        S    3    NaN
7       0    112050    0.0000      A36        S  NaN    NaN
10      0  PC 17757  227.5250  C62 C64        C  NaN  124.0
19      0     13050   75.2417       C6        C    A    NaN

                          home.dest
3   Montreal, PQ / Chesterville, ON
5                      New York, NY
7                       Belfast, NI
10                     New York, NY
19                     Winnipeg, MN

In [64]:
grouped = d1.groupby('pclass')

effectif = grouped['pclass'].count()

print("Effectif:")
print(effectif, "\n")

print("Age moyen, taux de survie des passagers:")
print(grouped[["age", "survived"]].mean(), "\n")

Effectif:
pclass
1    323
2    277
3    709
Name: pclass, dtype: int64

Age moyen, taux de survie des passagers:
              age  survived
pclass
1       39.159918  0.619195
2       29.506705  0.429603
3       24.816367  0.255289